In [12]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
conditions = pd.read_csv('../../data/aula_2_banco_de_dados/conditions.csv')
encounters = pd.read_csv('../../data/aula_2_banco_de_dados/encounters.csv')
patients = pd.read_csv('../../data/aula_2_banco_de_dados/patients.csv')

In [3]:
print("Conditions shape: ", conditions.shape)
print("Encounters shape: ", encounters.shape)
print("Patients shape: ", patients.shape)

Conditions shape:  (4140, 7)
Encounters shape:  (5924, 15)
Patients shape:  (111, 28)

In [17]:
print("DADOS DE PACIENTES")
display(patients.head(2), patients.tail(2))

print("\nDADOS DE ENCONTROS (CONSULTA MÉDICA OU IDA AO HOSPITAL)")
display(encounters.head(2), encounters.tail(2))

print("\nINFORMAÇÕES GERAIS DOS PACIENTES, INCLUINDO SOCIAIS")
display(conditions.head(2), conditions.tail(2))

DADOS DE PACIENTES

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,MIDDLE,LAST,SUFFIX,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,FIPS,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,INCOME
0,8c8e1c9a-b310-43c6-33a7-ad11bad21c40,1987-01-21,NaN,999-35-6397,S99957832,X22616959X,Mr.,Britt177,Clifton91,Keeling57,NaN,NaN,M,white,nonhispanic,M,Waltham Massachusetts US,840 Grimes Well Apt 27,Duxbury,Massachusetts,Plymouth County,25023.0,2332,42.068930,-70.706320,94868.89,24033.16,60192
1,edc17058-55fb-08c7-12df-ece93a402e50,1986-03-31,NaN,999-75-7017,S99916291,X68816273X,Mr.,Tobias236,Yong583,Harris789,NaN,NaN,M,white,nonhispanic,M,New Bedford Massachusetts US,166 Funk Burg,Gardner,Massachusetts,Worcester County,25027.0,1440,42.568845,-71.961835,161214.72,24287.84,44043

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,MIDDLE,LAST,SUFFIX,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,FIPS,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,INCOME
109,9ad4a69b-02de-4aeb-2262-76745583a8ac,2008-10-04,NaN,999-43-6044,S99984392,NaN,NaN,Chantelle310,NaN,Gleason633,NaN,NaN,NaN,black,nonhispanic,F,Brockton Massachusetts US,891 Donnelly Loaf Suite 60,Winchester,Massachusetts,Middlesex County,25017.0,1890,42.475584,-71.181125,30895.82,593006.41,301676
110,1a9873c2-1d93-e9d6-4e36-77fdb07fbcb2,1920-11-02,NaN,999-98-5557,S99994282,X80497829X,Mrs.,Mertie42,Kiley170,Kessler503,NaN,Jones311,D,white,nonhispanic,F,Springfield Massachusetts US,399 Adams Well Suite 22,Templeton,Massachusetts,Worcester County,NaN,0,42.587979,-72.025770,1110346.01,1772499.81,100402

DADOS DE ENCONTROS (CONSULTA MÉDICA OU IDA AO HOSPITAL)

,Id,START,STOP,PATIENT,ORGANIZATION,PROVIDER,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
0,8151e1b2-5789-578d-3e3a-d1d9b7c142ee,2005-03-16T06:04:53Z,2005-03-16T06:54:52Z,8c8e1c9a-b310-43c6-33a7-ad11bad21c40,2936ca90-6594-357d-be14-53fe0ab84dd1,0d67d251-73f5-3118-be75-41f33e95b7d1,e03e23c9-4df1-3eb6-a62d-f70f02301496,wellness,162673000,General examination of patient (procedure),136.8,840.20,0.0,NaN,NaN
1,6dce0dad-f85f-8a26-9583-f1bcdde4efc1,2006-03-22T06:04:53Z,2006-03-22T06:35:36Z,8c8e1c9a-b310-43c6-33a7-ad11bad21c40,2936ca90-6594-357d-be14-53fe0ab84dd1,0d67d251-73f5-3118-be75-41f33e95b7d1,8fa6c185-e44e-3e34-8bd8-39be8694f4ce,wellness,162673000,General examination of patient (procedure),136.8,1385.72,0.0,NaN,NaN

,Id,START,STOP,PATIENT,ORGANIZATION,PROVIDER,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
5922,82947492-f727-d08a-39f9-79cca3e5e7b1,2025-07-15T20:41:48Z,2025-07-15T21:28:05Z,1a9873c2-1d93-e9d6-4e36-77fdb07fbcb2,20df65a4-7567-3066-b680-0f71b0c31d38,c014c82a-4a9d-3beb-b770-535309ad219d,a735bf55-83e9-331a-899d-a82a60b9f60c,ambulatory,36228007,Ophthalmic examination and evaluation (procedure),142.58,3668.36,2934.68,NaN,NaN
5923,36c2e096-5dac-b0bc-2e93-8950abd0658a,2025-07-29T20:41:48Z,2025-07-29T21:12:50Z,1a9873c2-1d93-e9d6-4e36-77fdb07fbcb2,20df65a4-7567-3066-b680-0f71b0c31d38,c014c82a-4a9d-3beb-b770-535309ad219d,a735bf55-83e9-331a-899d-a82a60b9f60c,ambulatory,185349003,Encounter for check up (procedure),85.55,516.95,413.56,66383009.0,Gingivitis (disorder)

INFORMAÇÕES GERAIS DOS PACIENTES, INCLUINDO SOCIAIS

,START,STOP,PATIENT,ENCOUNTER,SYSTEM,CODE,DESCRIPTION
0,2005-03-16,NaN,8c8e1c9a-b310-43c6-33a7-ad11bad21c40,8151e1b2-5789-578d-3e3a-d1d9b7c142ee,http://snomed.info/sct,224299000,Received higher education (finding)
1,2006-03-22,NaN,8c8e1c9a-b310-43c6-33a7-ad11bad21c40,6dce0dad-f85f-8a26-9583-f1bcdde4efc1,http://snomed.info/sct,266948004,Has a criminal record (finding)

,START,STOP,PATIENT,ENCOUNTER,SYSTEM,CODE,DESCRIPTION
4138,2025-07-08,NaN,1a9873c2-1d93-e9d6-4e36-77fdb07fbcb2,27e6eefb-b1db-a4c2-3c81-14346bcc7223,http://snomed.info/sct,422650009,Social isolation (finding)
4139,2025-07-08,NaN,1a9873c2-1d93-e9d6-4e36-77fdb07fbcb2,27e6eefb-b1db-a4c2-3c81-14346bcc7223,http://snomed.info/sct,66383009,Gingivitis (disorder)

In [16]:
conditions['DESCRIPTION'].head(20)

0                   Received higher education (finding)
1                       Has a criminal record (finding)
2                               Misuses drugs (finding)
3                        Part-time employment (finding)
4            Victim of intimate partner abuse (finding)
5                        Laceration - injury (disorder)
6                          Facial laceration (disorder)
7                    Acute viral pharyngitis (disorder)
8                        Laceration - injury (disorder)
9                        Laceration of thigh (disorder)
10                    Medication review due (situation)
11              Body mass index 30+ - obesity (finding)
12                       Full-time employment (finding)
13                           Viral sinusitis (disorder)
14                          Acute bronchitis (disorder)
15                    Medication review due (situation)
16                           Impacted molars (disorder)
17    Chronic intractable migraine without aura (dis...
18                               Chronic pain (finding)
19                     Housing unsatisfactory (finding)
Name: DESCRIPTION, dtype: object